{% extends 'base.html' %}
{% block content %}

<div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="static/images/TeamLead.jpg" class="card-img-top" alt="Prem Kiran">
                  <div class="card-body">
                    <h5 class="card-title">Prem Kiran</h5>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Emp No: 1063</li>
                    <li class="list-group-item">Role: Team Lead</li>
                  </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="static/images/Profile.jpg" class="card-img-top" alt="Mohammed Salman Uddin">
                  <div class="card-body">
                    <h5 class="card-title">Mohammed Salman Uddin</h5>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Emp No: 001</li>
                    <li class="list-group-item">Role: Developer</li>
                  </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="static/images/Profile.jpg" class="card-img-top" alt="Durga Prasad">
                  <div class="card-body">
                    <h5 class="card-title">Durga Prasad</h5>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Emp No: 002</li>
                    <li class="list-group-item">Role: Developer</li>
                  </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="static/images/Profile.jpg" class="card-img-top" alt="Dhanush">
                  <div class="card-body">
                    <h5 class="card-title">Dhanush</h5>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Emp No: 003</li>
                    <li class="list-group-item">Role: Developer</li>
                  </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="static/images/Profile.jpg" class="card-img-top" alt="Khalandar">
                  <div class="card-body">
                    <h5 class="card-title">Khalandar</h5>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Emp No: 004</li>
                    <li class="list-group-item">Role: Developer</li>
                  </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="static/images/Profile.jpg" class="card-img-top" alt="Shaik Mohammad Ghouse">
                  <div class="card-body">
                    <h5 class="card-title">Shaik Mohammad Ghouse</h5>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Emp No: 005</li>
                    <li class="list-group-item">Role: Developer</li>
                  </ul>
                </div>
            </div>
             <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="static/images/Profile.jpg" class="card-img-top" alt="Balaji">
                  <div class="card-body">
                    <h5 class="card-title">Balaji</h5>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Emp No: 006</li>
                    <li class="list-group-item">Role: Developer</li>
                  </ul>
                </div>
            </div>
             <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="static/images/Profile.jpg" class="card-img-top" alt="Srinivas">
                  <div class="card-body">
                    <h5 class="card-title">Srinivas</h5>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Emp No: 007</li>
                    <li class="list-group-item">Role: Developer</li>
                  </ul>
                </div>
            </div>
             <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="static/images/Profile.jpg" class="card-img-top" alt="Sudhakar">
                  <div class="card-body">
                    <h5 class="card-title">Sudhakar</h5>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Emp No: 008</li>
                    <li class="list-group-item">Role: Developer</li>
                  </ul>
                </div>
            </div>
        </div>
</div>
{% endblock %}