{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>RamanaSoft Solutions</h1>
    <p>info@ramanasoft.com</p>
    <p>+91 7337344475</p>
    <p>704 Pine Street Herndon,</p>
    <p>QT Global, Road No. 45, 100 Ft Road,</p>
    <p>Ayyappa Society,</p>
    <p>Madhapur,</p>
    <p>Hyderabad - 500081</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15224.701593833306!2d78.392766!3d17.4513171!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb918aba783f41%3A0xb24cecb6b2120129!2sRamana%20Soft%20-%20IT%20Consulting%20Services!5e0!3m2!1sen!2sin!4v1699868293791!5m2!1sen!2sin" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

  </div>
{% endblock %}